

body{ font-family:'Rubik', sans-serif; line-height: 21px; color: #333333; font-size: 13px;}
h3{font-family:'Rubik', sans-serif; line-height: 22px; color: #333333; font-size: 18px; letter-spacing: 2px;}
.outer-box {
    width: 1170px;
	margin: 0 auto;
	position: relative;
    min-height: 500px;
}
ul{ margin: 30px 0px 30px 0px; padding: 0px;}

font-family: 'Rubik', sans-serif;

.header-1 {
    width: 100%;
    height: auto;
    text-align: center;
    background: black;
	position: relative;
    display: block;
             
}


.left-row {
    width: 49.969%;
    height: auto;
    border: 1px solid black;
    float: left;
    margin-top: 2px;
           
}
.right-row {
    width: 49.969%;
    height: auto;
    border: 1px solid black;
    float: left;
    margin-top: 2px;       
}
.header-content {
    color: white;
    background: black;
	margin: 0px;
    padding: 15px 0px 15px 0px;
}

li {
    text-align: center;
    list-style: none;
}
.content {
    height: auto;
    vertical-align: middle;
	width: 100%;
	position: relative;
	display: inline-block;
}
.full-row {
    width: 99.969%;
    height: auto;
    border: 1px solid black;
    text-align: center;
    margin-top: 1px;
	display: block;
    
}

.full-row-bottom {
    margin-bottom: 40px;
    width: 99.96%;
    height: auto;
    border: 1px solid black;
    text-align: center;
    margin-top: 1px;
    float: left;
}





@media screen and (min-width: 1170px) {
  
  .outer-box {
    width: 1170 !important;
	margin: 0 auto;
	position: relative;
    min-height: 500px;
}	
  
}



@media  screen and (min-width: 1025px) and (max-width: 1170px) {
  
   .outer-box {
    width: 980px !important;
	}	
	
	.left-row {
    width: 49.75%;
         
}
.right-row {
    width: 49.75%;
           
}
	
  
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
	
	
	.outer-box {
    width: 750px !important;
	}	
	
	.left-row {
    width: 49.55%;
    }
	
    .right-row {
    width: 49.55%;
    }
 
  
}


@media (min-width: 481px) and (max-width: 767px) {
	
	
	.outer-box {
    width: 100% !important;
	}	
	
	.left-row {
    width: 100% !important;
		display: block;
		clear: both;
    }
	
    .right-row {
     width: 100% !important;
		display: block;
		clear: both;
    }
  
 
  
}


@media screen and (max-width: 480px) {
  
  	
  
}
.country {
    text-align: center;
}



